/*********
* Button *
*********/

.button,
.button.menuitem.menubar,
GtkComboBox.combobox-entry .button {
    padding: 3px;
}

.button {

    -GtkButton-child-displacement-x: 0;
    -GtkButton-child-displacement-y: 0;
    -GtkButton-default-border: 0;
    -GtkButton-image-spacing: 4px;
    -GtkButton-inner-border: 3;
    -GtkButton-interior-focus: true;

    background-image: -gtk-gradient (linear,
        left top,
        left bottom,
        from (shade (@bg_color, 1.15)),
        to (shade (@bg_color, 0.98)));

    -unico-border-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (shade (@bg_color, 0.78)),
        to (shade (@bg_color, 0.65)));
}

.button:hover {
    color:@text_color;
}

.button:active,
.button:hover:active {

    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
				     from (shade (@bg_color, 0.86)),
				     to (shade (@bg_color, 0.95)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@bg_color, 0.56)),
                     to (shade (@bg_color, 0.68)));
}

.button:insensitive {
    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
                     from (alpha (#fff, 0.20)),
                     to (alpha (#000, 0.05)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@bg_color, 0.76)),
                     to (shade (@bg_color, 0.70)));
}

.button:backdrop,
GtkSwitch.slider:backdrop {

    background-image: -gtk-gradient (linear,
        left top,
        left bottom,
        from (shade (@bg_color, 1.05)),
        to (@bg_color));

    -unico-border-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (shade (@bg_color, 0.88)),
        to (shade (@bg_color, 0.76)));
}

.button:active:backdrop,
.button:active:hover:backdrop,
.toolbar .button:active:backdrop,
.toolbar .button:active:hover:backdrop {

    background-image: -gtk-gradient (linear,
        left top,
        left bottom,
        from (shade (@bg_color, 0.95)),
        to (shade (@bg_color, 0.98)));

    -unico-border-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (shade (@bg_color, 0.74)),
        to (shade (@bg_color, 0.76)));
}

.toolbar .button:backdrop {

    background-image: -gtk-gradient (linear,
        left top,
        left bottom,
        from (shade (@bg_color, 1.05)),
        to (shade (@bg_color, 0.95)));

    -unico-border-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (shade (@bg_color, 0.88)),
        to (shade (@bg_color, 0.76)));
}

.toolbar .button {
    padding: 4px;
	icon-shadow: none;
}

/*************************** 
* Secondary Toolbar Button *
***************************/

.secondary-toolbar.toolbar .button {
    -GtkButton-inner-border: 0 3px 0 3px;
    padding: 0 3px 0 3px;
    -unico-outer-stroke-width: 0;
}

.secondary-toolbar.toolbar .button:hover {

    color: shade (@selected_bg_color, 0.65);

    border-color: @transparent;
    background-image: none;
    background-color: @transparent;
    -unico-inner-stroke-width: 0;
    -unico-border-gradient: none;
}

.secondary-toolbar.toolbar .button:active,
.secondary-toolbar.toolbar .button:hover:active {

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (alpha (#000, 0.00)),
        to (alpha (#000, 0.00)));

    background-image: -gtk-gradient (linear,
        left top,
        left bottom,
        from (alpha (#000, 0.10)),
        to (alpha (#000, 0.10)));

    -unico-border-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (alpha (#000, 0.30)),
        color-stop (0.15, alpha (#000, 0.10)),
        color-stop (0.85, alpha (#000, 0.10)),
        to (alpha (#fff, 0.50)));
}

/******************
* Special Buttons *
******************/

.help_button {

    text-shadow: 0 1 alpha (#000, 0.6);
    icon-shadow: 0 1 alpha (#000, 0.6);

    background-image: -gtk-gradient (linear,
        left top,
        left bottom,
        from (#959ea7),
        color-stop (0.49, #76828e),
        color-stop (0.51, #677481),
        to (#8d96a0));

    -unico-border-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (#6c7580),
        to (#474e55));
        
    -unico-inner-stroke-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (alpha (#fff, 0.30)),
        to (alpha (#fff, 0.00)));
}

.help_button *:insensitive {
    color: alpha (@text_color, 0.7);
}

.button.noundo {
    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
                     from (#e56453),
                     to (#bb2332));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (#dd3b27),
                     to (#791235));
}

