.sidebar,
.sidebar.view {
    background-color: @bg_color;
    border-radius: 0;
    color: shade (@bg_color, 0.50);
}

.sidebar:backdrop,
.sidebar.view:backdrop {
    background-color: shade (@bg_color, 1.04);
}

.sidebar {
    -GtkTreeView-horizontal-separator: 1;
    -GtkTreeView-vertical-separator: 1;
}

.sidebar.view:selected,
.sidebar.view:prelight:selected {
    border-style: solid;
    border-width: 1px 0 1px 0;
    -unico-inner-stroke-width: 1px 0 1px 0;

    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (shade (@selected_bg_color, 1.25)),
                    to (shade (@selected_bg_color, 0.98)));

    -unico-border-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (shade (@selected_bg_color, 1.05)),
                    to (shade (@selected_bg_color, 0.88)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (#fff, 0.20)),
                    to (alpha (#fff, 0.10)));
}

.sidebar.view:selected:backdrop,
.sidebar.view:prelight:selected:backdrop {
    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (shade (@bg_color, 0.95)),
                    to (shade (@bg_color, 0.83)));

    -unico-border-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (shade (@bg_color, 0.85)),
                    to (shade (@bg_color, 0.73)));
}

.sidebar.view:prelight {
    background-color:         shade (@bg_color, 1.10);
}

.sidebar-pane-separator,
.sidebar-pane-separator:prelight,
.sidebar-pane-separator:selected,
VarkaWidgetsHCollapsiblePaned,
VarkaWidgetsHCollapsiblePaned.pane-separator,
VarkaWidgetsHCollapsiblePaned.pane-separator:prelight,
VarkaWidgetsHCollapsiblePaned.pane-separator:selected {

    -unico-centroid-texture: none;
    border-width: 0;
    -GtkPaned-handle-size: 1;
    background-image: none;
    background-color: shade (@bg_color, 0.75);
    
    border-color: shade (@bg_color, 0.75);
}
